/*
 * Author: Harry Mills
 * Goal: Fixed design using a grid system with 12 columns
 * The columns will be 70px wide with a 10px gutter each to give a total width of 960px - this is designed to fit on a 1024x768 screen.
 * Additionally the text will all be set in multiples of baseline_size as a baseline grid (http://www.alistapart.com/articles/settingtypeontheweb)
 *
 */

html {
    height: 100%;
}

* html {
    height: 100%;
}

/* Baseline Grid */

@baseline_size: 24px;
@base_text_height: 16px;

.baseline (@line-height: @baseline_size) {
	margin-bottom:  @baseline_size;
	line-height:    @line-height;
}

body {
    font-size:      @base_text_height;
    line-height:    @baseline_size;
    height: 100%;
}

p {
	margin-bottom:  @baseline_size;
}

h1 {
	font-size:      @baseline_size * 2;
	.baseline(@baseline_size * 3);
}

h2 {
	font-size:      @baseline_size;
	.baseline;
}

h3 {
	font-size:      @base_text_height;
    line-height:    @baseline_size;
}

ul, ol {
	margin-bottom: @baseline_size;
}

li ul, li ol {
    margin-bottom: 0;
}

ul#nav li a {
    padding-top: 11px;
    padding-bottom: 12px;
    font-size: 18px;
}

.left {
	float: left;
	margin: 0 @baseline_size @baseline_size 0;
}

.right {
	float: right;
	margin: 0 0 @baseline_size @baseline_size;
}

.entry-date div {
    font-size:      @baseline_size;
    line-height:    @baseline_size;
    margin-bottom:  0px;
}

/* Horizontal Grid for layout */

@column_width: 70px;
@gutter_width: 10px;
@total_width:  80px;

.span (@columns: 1, @border-and-padding: 0) {
    float: left;
    margin-right: @gutter_width;
    width: @total_width * @columns - @border-and-padding - @gutter_width;
}

.last {
    margin-right:  0px;
    padding-right: 0px;
}

.append (@x: 1) {
    padding-right: @total_width * @x - @gutter_width;
}

.prepend (@x: 1) {
    padding-left: @total_width * @x - @gutter_width;
}

.indent-align(@indent: 1) {
    text-indent: -@total_width;
    padding-left: @total_width;
}

#container {
    margin: auto;
    width: @total_width * 12 - @gutter_width; // 950 to fit in 1024x768 with browser chrome.
    min-height: 100%;
    overflow: auto;
}

#header {
    .span(10);
    .prepend(2);
    .last;
}

#sidebar {
    .span(2);
    .append(1);
}

ul#nav {
    .span(2, 1);
}

ul#nav li a {
    width: @total_width * 2 - @gutter_width - 18;
    padding-left: 18px;
}

#content {
    .span(7);
    padding-bottom: 20px;
}

.box {
    .span(7);
    .last;
    margin-bottom: @baseline_size;
}

.box p {
    margin-bottom: 0;
}

.box p span, .box li span {
    .prepend(1);
}

.shelf {
    .span(7);
    .last;
    margin-bottom: @baseline_size;
}

.shelf ul {
    padding: 0px;
    margin: 0px;
}

.shelf li {
    display: inline;
    list-style-type: none;
}

#lastfm.shelf {
    img {
        width: 126px;
        height: 126px;
        vertical-align: bottom;
    }
}

#goodreads.shelf li img {
        width: @column_width;
        margin-right: @gutter_width;
}

#goodreads.shelf li:last-child {
    margin-right: 0px;
}

.bg-logo(@image: 'images/rss.png') {
    background: url(@image) no-repeat top right;
}

#blog {
    .bg-logo('images/rss.png');
}

#twitter {
    .bg-logo('images/twitter.png');
}

#github {
    .bg-logo('images/github.png');
}

#lastfm {
    .bg-logo('images/music.png');
}

#goodreads {
    .bg-logo('images/book.png');
}

#comments {
    .span(6);
}

#pagination {
    .span(6);
}

#pagination a.prev {
    float: left;
}

#pagination a.next {
    float: right;
}

ul#archive {
    li {
        margin-left: 0;
        span {
            .span;
            font-size: x-small;
        }
    }
}

.entry h2 {
    .span(7);
    .last;
}

.entry-footer {
    display: none;
}

.entry-contents {
    .span(6);
}

.entry-date {
    .span(1, 10);
    .last;
}

/* Code snippits */

/* Browser specific (not valid) styles to make preformatted text wrap */
.pre-wrap {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
    .pre-wrap;
    margin-bottom: @baseline_size;
    font-family: Terminus, monospace;
    font-size: 12px;
    color: white;
    background-color: #333;
    padding-left: 3px;
    padding-right: 3px;
    border-left: 5px solid #999;
}
