/*
 * Author:  Harry Mills
 * Goal:    Defines visual styling for the site.
 */

@primary_color:     rgba( 52,  98, 191, 1.0);
@secondary_color:   #030140;
@background_color:  #89BAD9;
@link_color:        rgba(136, 166,  27, 1.0);
@visited_color:     #738C16;
@link_hover_color:  rgba(136, 166,  27, 0.5);
@shadow_color:      #888888;
@grey:              #aaaaaa;

@glow_inner:        rgb(204, 255, 255);
@glow_mid:          rgb( 85, 85, 85);
@glow_outer:        rgba(85, 85, 85, 0.0);

@font-face {
    font-family: Diavlo-Black;
    src: url("fonts/diavlo/Diavlo_BLACK_II_37.otf");
}

@font-face {
    font-family: Diavlo-Medium;
    src: url("fonts/diavlo/Diavlo_MEDIUM_II_37.otf");
}

.rounded-corners (@tl: 5px, @tr: 5px, @bl: 5px, @br: 5px) {
    -moz-border-radius-topleft: @tl;
    -moz-border-radius-topright: @tr;
    -moz-border-radius-bottomleft: @bl;
    -moz-border-radius-bottomright: @br;
    -webkit-border-top-left-radius: @tl;
    -webkit-border-top-right-radius: @tr;
    -webkit-border-bottom-left-radius: @bl;
    -webkit-border-bottom-right-radius: @br;
}

.box-shadow (@left: 5px, @down: 5px, @blur: 5px, @spread: 0px) {
    -moz-box-shadow: @left @down @blur @spread @shadow_color;
    -webkit-box-shadow: @left @down @blur @shadow_color;
}

.highlight-gradient() {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.0, rgba(255,255,255,0)), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255,255,255,0)), color-stop(1.0, rgba(255,255,255,0)) );
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) );
}

body {
    font-family: Helvetica, Tahoma, sans-serif;
    color: black;
    background-color: @background_color;
    // Firefox has some really cool gradient stuff but webkit doesn't so we're stuck with boring linear stuff.
    //background-image: -moz-repeating-linear-gradient(top left -45deg, @secondary_color 1px, @background_color 5px, @secondary_color 1px);
    //background-image: -moz-radial-gradient(circle farthest-side, @secondary_color, @background_color);
    background-image: -moz-linear-gradient(top, @secondary_color, @background_color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(@secondary_color), to(@background_color));
    background-attachment: fixed;
}

// don't forget the clearing fix to ensure the background works.
#container {
    border-left: 1px solid @secondary_color;
    border-right: 1px solid @secondary_color;
    background-color: white;
}

h1 a, h2 a {
    text-decoration: none;
}

h1 a {
    color: @primary_color;
}

h2 a, h3 a {
    color: @secondary_color;
}

h1, h2, h3 {
    font-family: Diavlo-Black;
}

ul#nav {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-family: Diavlo-Medium;
    background-color: @link_color;
    .rounded-corners(0px, 10px, 0px, 10px);
    border-right: 1px solid @visited_color;
    border-top: 1px solid @visited_color;
    border-bottom: 1px solid @visited_color;
    .highlight-gradient();

    li {
        border-top: 1px solid @visited_color;
        a {
            padding-left: 18px;
            text-decoration: none;
            color: @secondary_color;
            display: block;
        }
    }

    li:first-child {
        border-top: 0;
    }

    li:hover {
        background-color: @link_hover_color;
        a {
            padding-left: 36px;
        }
    }

    li:last-child:hover {
        .rounded-corners(0px, 0px, 0px, 10px);
    }

    li:first-child:hover {
        .rounded-corners(0px, 10px, 0px, 0px);
    }
}

ul#nav li:hover {
//    background-image: -moz-radial-gradient(0% 50%, closest-corner, @glow_inner 1%, @glow_mid 15%, @glow_outer);
//    background-image: -webkit-gradient(radial, 0% 50%, 0, 0% 50%, 15, from(@glow_inner), to(@glow_outer));
}

/* Date Panel */
.entry-date {
    background-color: @background_color;
    border: 1px solid @secondary_color;
    color: @secondary_color;
    padding-left: 4px;
    padding-right: 4px;
    .rounded-corners(0px, 10px, 10px, 0px);
    text-align: center;
    font-weight: bold;
    font-family: Diavlo-Medium;
    .box-shadow();
    .highlight-gradient();

    div {
        font-weight: bolder;
    }

    .feedlink {
        background-image: url('../images/silk/icons/feed.png');
        background-repeat: no-repeat;
        background-attachment: fixe;
        background-position: 90% 45%;
    }
}

/* Home page boxes */
.box p span, .box p span a {
    color: @grey;
}

.box ul {
    list-style-type: none;
    padding: 0;
}

/* Archive Page */
ul#archive {
    list-style: none;
    padding: 0;
}

/* Generic Styles */

ul {
    list-style: disc;
}

li {
    margin-left: 1.5em;
}
