---
layout: page
title: About Me
---

<h2>About Me</h2>
<ul id="about">
    <li>I'm Harry Mills and I go by the pseudonym Haegin online.</li>
    <li>I was born in Wiltshire and am now studying Computer Systems and Software Engineering at the University of York. I'm currently on a placement year in Bristol as part of my course.</li>
    <li>My OS of choice is Linux as I like the power and flexibility it gives me to work the way I like. I use a fairly minimal setup and use XMonad as my window manager as it seriously kicks ass, particularly when using multiple monitors.</li>
    <li>In my spare time I tinker with computers, work on various websites (including this one), read (mainly fantasy and sci-fi but I do venture into other genres occasionally), play tabletop role-playing games (mainly D&D in the past but I've been playing more Traveller recently), go walking (proper walking, not just to the shops and back), go cycling and go diving.</li>
</ul>
