---
layout: page
title: Haeg.in Archive
---

<h2>Archive of {{site.posts | size }} posts</h2>
<ul id="archive">
{% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href='{{ post.url }}'>{{ post.title }}</a></li>
{% endfor %}
</ul>
