---
layout: default
js:
    - lib/pages/home.js
    - http://platform.twitter.com/anywhere.js?id=g9qLSnTiBBe7C6BqLQ3tg&v=1
---

<section id="blog" class="box">
    <h3>Some fairly new blog posts</h3>
</section>

<section id="twitter" class="box">
    <h3>Recent tweets</h3>
</section>

<section id="lastfm" class="shelf">
    <h3>Music I've been listening to</h3>
    <ul>
    </ul>
</section>

<section id="goodreads" class="shelf">
    <h3>Books I've read recently</h3>
    <ul>
    </ul>
</section>

<section id="github" class="box">
    <h3>Github projects I've worked on</h3>
</section>
