<ul id="nav">
	{% for item in site.nav %}
    <li>
        <a{% if item.url %} href="{{ item.url }}"{% endif %}>{{ item.name }}</a>
        {% if item.subnav %}
        <ul>
            {% for item in item.subnav %}
            <li>
                <a{% if item.url %} href="{{ item.url }}"{% endif %}>{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
	{% endfor %}
    <!--
    <li>
        <a href="{{ site.feed }}" id="subscribe" class="feedlink">Subscribe</a>
    </li>
    -->
</ul>
