<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="generator" content="Jekyll" />
        <meta name="author" content="{{ site.author.name }}" />
        <meta name="description" content="{{ site.description }}" />
        <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
        {% for css in site.css %}
            <link rel="stylesheet" href="{{ css }}" type="text/css" />
        {% endfor %}
        {% for css in page.css %}
            <link rel="stylesheet" href="{{ css }}" type="text/css" />
        {% endfor %}
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>
                    <a href="/">{{ site.title }}</a>
                </h1>
            </div>

            <div id="sidebar">
                {% include nav.html %}
            </div>

            <div id="content">
                {{ content }}
            </div>
        </div>

        {% for js in site.js %}
            <script src="{{ js }}" type="text/javascript" charset="utf-8"></script>
        {% endfor %}
        {% for js in page.js %}
            <script src="{{ js }}" type="text/javascript"></script>
        {% endfor %}
        <script type="text/javascript">
            (function(){
                var links = document.getElementsByTagName('a');
                var query = '?';
                for (var i = 0; i < links.length; i++){
                    if (links[i].href.indexOf('#disqus_thread') >= 0){
                        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                    }
                }
                document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{ site.disqus.id }}/get_num_replies.js' + query + '"></' + 'script>');
            })();
        </script>
    </body>
</html>
